<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="my-5 page" size="A4">
    <div class="col-sm-15">
    <p style="text-align: center;">Employee Detais</p>
    <p style="text-align: left;"><b>Name : {{p.first_name}} {{p.last_name}}</b><br><b>Position : {{p.designation}}</b></p>
    <p style="text-align:right;"><b>Emp No : {{p.emp_number}}</b><br>Join Date : {{p.joindate | date:'d-m-Y'}}</p>
  </div>
    <hr style="color:rgb(0, 0, 0);">
    <div  class="col-sm-6">
      <a href=" " >
        {% if p.image != '' %}
        <img class="img-fluid rounded-circle" style="border: 2px rgb(199, 119, 0) solid;" src="{{p.image.url}}" alt="profile pic"  name="img" >
        {% else %}
        <img class="img-fluid" alt="profile pic" name="img">
        {% endif %}
        <br><br>
        <p class="text-dark fs-5 b" >{{p.title}} &nbsp;{{p.first_name}} &nbsp;{{p.last_name}}
        </p>
      </a>
      <p style="text-align: left;"> Email :{{p.email}} </p>
      <p style="text-align: left;"> phone:{{p.Phone}} </p>
      <p style="text-align: left;"> Emergency Number :{{p.emergency_phone}} </p>
      <p style="text-align: left;"> Location:{{p.location}} </p>
      <h3 style="text-align: center;">Personal information</h3>
      <hr style="color:  black;">
      <p style="text-align: left;"> Gender:{{p.gender}} </p>
      <p style="text-align: left;"> Age :{{p.age}} </p>
      <p style="text-align: left;"> Blood Group: {{p.blood}} </p>
      <p style="text-align: left;"> Dob :{{p.dob}} </p>
      <p style="text-align: left;"> PermanentAddress :{{p.permanent_address}} </p>
      <p style="text-align: left;"> Adress :{{p.address}} </p>
      <p style="text-align: left;"> Father's Name :{{p.spouse_name}} </p>
      <p style="text-align: left;"> spouse name :{{p.spouse_name}} </p>

    </div>
    <div class="col-sm-6">
      <h3 style="text-align: center;">Salary Info</h3>
      <hr style="color:  black;">
      <p style="text-align: left;"> Employee Salary :{{p.salary}} </p>
      <p style="text-align: left;"> Salary Date range :{{p.salaryrange}} </p>
      <p style="text-align: left;"> Salary Type : {% if p.salary_type == 'Variable' %}Time Based {% else %}{{p.salary_type}} {% endif %}</p>
      {% if p.salary_type == 'Variable' %}
            <p style="text-align: left;"> Email : </p>
      <p style="text-align: left;">Amount per Hour :{{p.amountperhr}} </p>
      <p style="text-align: left;"> Total Work Hours :{{p.workhr}} </p>
      {% endif %}
      <p style="text-align: left;"> TDS Applicable :{{p.isTDS}} </p>
      {% if p.isTDS != 'No' %}
      <p style="text-align:left;">TDS Amount :{{p.TDS}}</p>{% endif %}
      <h3 style="text-align: center;">Bank Info</h3>
      <hr style="color:  black;">
    {% if p.acc_no %}  <p style="text-align:left;">Account Number:{{p.acc_no}}</p>{% endif %}
    {% if p.IFSC %}  <p style="text-align: left;">Ifsc{{p.IFSC}}</p>{% endif %}
      {% if p.bank_name %}<p style="text-align: left;"> Bank:{{p.bank_name}}</p>{% endif %}
      {% if p.branch %}<p style="text-align: left;">Branch:{{p.branch}}</p>{% endif %}
      <h3 style="text-align: center;">Statutary Info</h3>
      <hr style="color:  black;">
    
     {% if p.Income_tax_no %} <p style="text-align: left;">Income Tax Number:{{p.Income_tax_no}}</p>{% endif %}
      <p style="text-align: left;">Aadhar Number:{{p.Aadhar}}</p>
     {% if p.UAN %} <p style="text-align: left;">Universal Account No:{{p.UAN}}</p>{% endif %}
   
      {% if p.PRAN %}<p style="text-align: left;">PR Account No:{{p.PRAN}}</p>{% endif %}
      {% if p.PFN %}<p style="text-align: left;">Pf Account No:{{p.PFN}}</p>{% endif %}
   
    </div>
  </div>
 
</body>
</html>